alembic
blinker
click
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
SQLAlchemy
typing_extensions
Werkzeug
zipp
